.main{
  height: 90vh;
  background-color: green
}

.dropdown:hover>.dropdown-menu {
  display: block;
  
}

.dropdown > .dropdown-toggle:active {
  /*Without this, clicking will make it sticky*/
    pointer-events: none;
}
.dropdown >.dropdown-menu a:hover{
  background-color: #39C0ED;
  color: white;
}

#topcontainer {
  background-image: url("https://images.unsplash.com/photo-1498050108023-c5249f4df085?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1172&q=80");
  background-size: cover;
}

.contlanding:hover {
  margin-top: -10px;
}




/*servise g*/




.organizationchart-demo .p-organizationchart .p-person {
  padding: 0;
  border: 0 none;
}

.organizationchart-demo .p-organizationchart .node-header, .organizationchart-demo .p-organizationchart .node-content {
  padding: .5em .7rem;
}

.organizationchart-demo .p-organizationchart .node-header {
  background-color: #495ebb;
  color: #ffffff;
}

.organizationchart-demo .p-organizationchart .node-content {
  text-align: center;
  border: 1px solid #495ebb;
}

.organizationchart-demo .p-organizationchart .node-content img {
  border-radius: 50%;
}

.organizationchart-demo .p-organizationchart .department-cfo {
  background-color: #7247bc;
  color: #ffffff;
}

.organizationchart-demo .p-organizationchart .department-coo {
  background-color: #a534b6;
  color: #ffffff;
}

.organizationchart-demo .p-organizationchart .department-cto {
  background-color: #e9286f;
  color: #ffffff;
}
              




