<!-- Footer -->
<footer class="text-center text-lg-start   bg-light text-muted  " >
   
  
    <!-- Section: Links  -->
    <section class="">
      <div class="container text-center text-md-start mt-5">
        <!-- Grid row -->
        <div class="row mt-3">
         
          <!-- Grid column -->
          <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-0">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-0">
              Learn
            </h6>
            
            <p>
              <a href="#!" class="text-reset">Basic and advance Excel</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Microsoft PowerPoint</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Mysql</a>
            </p>
            <p>
                <a href="#!" class="text-reset">Javascript</a>
              </p>
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-0">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-0">
              Useful links
            </h6>
            <p>
              <a href="#" class="text-reset">Training</a>
            </p>
            <p>
              <a href="#" class="text-reset">Free learning stuffs</a>
            </p>
            
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">
              Contact
            </h6>
            
            <p>
              <i class="fas fa-envelope me-3"></i>
              amnuhu91.le@gmail.com
            </p>
            <p><i class="fas fa-phone me-3"></i> +2348064790955</p>
            <p><i class="fas fa-print me-3"></i> +2348162472682</p>
          </div>
          <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
            <h6 class="text-uppercase fw-bold mb-4">Connect with me on:</h6>
              
            
                  <a href="#" class="me-4 text-reset">
                    <i class="fab fa-facebook-f"></i>
                  </a>
                  <a href="#" class="me-4 text-reset">
                    <i class="fab fa-twitter"></i>
                  </a>
                  <a href="#" class="me-4 text-reset">
                    <i class="fab fa-google"></i>
                  </a>
                  <a href="#" class="me-4 text-reset">
                    <i class="fab fa-instagram"></i>
                  </a>
                  <a href="#" class="me-4 text-reset">
                    <i class="fab fa-linkedin"></i>
                  </a>
                  <a href="#" class="me-4 text-reset">
                    <i class="fab fa-github"></i>
                 </a>
                 <div class=" row">
                  <div class="text-center p-4" >
                    © 2021 Copyright: amn
                   
                  </div>
                 </div>
          </div>
            
            
          </div>
        </div>
        <!-- Grid row -->
      </div>
      
    </section>
    <!-- Section: Links  -->
  
    <!-- Copyright -->
    
    <!-- Copyright -->
  </footer>
  <!-- Footer -->