{% load static %}

<!-- Navbar -->
<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light ">
  <!-- Container wrapper -->
  <div class="container-fluid gx-0">
    <!-- Toggle button -->
    <button
      class="navbar-toggler"
      type="button"
      data-mdb-toggle="collapse"
      data-mdb-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <i class="fas fa-bars"></i>
    </button>

    <!-- Collapsible wrapper -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <!-- Navbar brand -->
      <a class="navbar-brand mt-2 mt-lg-0" href="#">
        MySelf
      </a>
      <!-- Left links -->
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link " href="{% url 'about_me:home' %}"> <i class="fas fa-home"></i> &nbsp;Home</a>
        </li>
        <li class="nav-item ">
          <a class="nav-link" href="#">About me</a>
        </li>
        <li class="nav-item dropdown">
          <a  class="nav-link dropdown-toggle"
         
          id="navbarDropdown"
          role="button"
          data-mdb-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false" href="{% url 'blog:post_list' %}">Features</a>

          <!--drop down menu -->
          
          <!--check repquest path-->
          {% if request.path == "/blog/" %}
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li>
              <a class="dropdown-item" href="{% url 'blog:post_list_cat' 'business' %}">Business</a>
            </li>
            <li>
              <a class="dropdown-item" href="{% url 'blog:post_list' %}">Politics</a>
            </li>
            <li>
              <a class="dropdown-item" href="{% url 'blog:post_list' %}">Weather</a>
            </li>
            <li>
              <a class="dropdown-item" href="{% url 'blog:post_list' %}">Stock Markets</a>
            </li>
            <li>
              <a class="dropdown-item" href="{% url 'blog:post_list' %}">International News</a>
            </li>
            <li>
              <a class="dropdown-item" href="{% url 'blog:post_list' %}">Others</a>
            </li>
            <!-- <li><hr class="dropdown-divider" /></li>
            <li>
              <a class="dropdown-item" href="#">Something else here</a>
            </li> -->
          </ul>
          {% else %}
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li>
              <a class="dropdown-item" href="{% url 'blog:post_list' %}">essential of website design</a>
            </li>
            <li>
              <a class="dropdown-item" href="{% url 'blog:post_list' %}">web framework</a>
            </li>
            <li>
              <a class="dropdown-item" href="{% url 'blog:post_list' %}">Networking</a>
            </li>
            <li>
              <a class="dropdown-item" href="{% url 'blog:post_list' %}">Others</a>
            </li>
            <!-- <li><hr class="dropdown-divider" /></li>
            <li>
              <a class="dropdown-item" href="#">Something else here</a>
            </li> -->
          </ul>

          {% endif %}
          
          

        </li>
       
  
        {% if request.user.is_superuser %}
        <li class="nav-item dropdown">
          <a  class="nav-link dropdown-toggle"
         
          id="navbarDropdown"
          role="button"
          data-mdb-toggle="dropdown"
          aria-expanded="false" href="{% url 'blog:post_list' %}">Blog</a>

          <!--drop down menu -->
          
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li>
              <a class="dropdown-item" href="{% url 'blog:post_list' %}">View All Post</a>
            </li>
            <li>
              <a class="dropdown-item" href="{% url 'blog:new-post' %}">Post New Blog</a>
            </li>
            <li>
              <a class="dropdown-item" href="{% url 'blog:post_list' %}">Update Blog</a>
            </li>
            <!-- <li><hr class="dropdown-divider" /></li>
            <li>
              <a class="dropdown-item" href="#">Something else here</a>
            </li> -->
          </ul>
          

        </li>
        
        {% else %}
      <!--  <li class="nav-item">
          <a class="nav-link" href="{% url 'blog:post_list' %}">Blog</a>
        </li> -->
        <li class="nav-item dropdown">
          <a  class="nav-link dropdown-toggle"
         
          id="navbarDropdown"
          role="button"
          data-mdb-toggle="dropdown"
          aria-expanded="false" href="{% url 'blog:post_list' %}">Blog</a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li>
              <a class="dropdown-item" href="{% url 'blog:post_list_cat' 'Techs' %}">Technology</a>
            </li>
            <li>
              <a class="dropdown-item" href="{% url 'blog:post_list_cat' 'web' %}">Web Tech</a>
            </li>
            <li>
              <a class="dropdown-item" href="{% url 'blog:post_list_cat' 'news' %}">News</a>
            </li>
            <li>
              <a class="dropdown-item" href="{% url 'blog:post_list_cat' 'politics' %}">Politics</a>
            </li>
            <li>
              <a class="dropdown-item" href="{% url 'blog:post_list' %}">International News</a>
            </li>
            <li>
              <a class="dropdown-item" href="{% url 'blog:post_list' %}">Others</a>
            </li>
            <!-- <li><hr class="dropdown-divider" /></li>
            <li>
              <a class="dropdown-item" href="#">Something else here</a>
            </li>  -->
          </ul>
        </li>
        {% endif %}
        <li class="nav-item">
          <a class="nav-link" href="#">Projects</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'about_me:orgchart' %}">Orgnizational Chart</a>
        </li>
      </ul>
      <!-- Left links -->
    </div>
    <!-- Collapsible wrapper -->

    <!-- Right elements -->
    {% if user.is_authenticated %}
    <div class="d-flex align-items-center">
      <!-- Icon -->
      

      <!-- Notifications -->
      <a
        class="text-reset me-3 dropdown-toggle hidden-arrow"
        href="#"
        id="navbarDropdownMenuLink"
        role="button"
        data-mdb-toggle="dropdown"
        aria-expanded="false"
      >
<!--         <i class="fas fa-bell"></i>
        <span class="badge rounded-pill badge-notification bg-danger">1</span> -->
      </a>
      <ul
        class="dropdown-menu dropdown-menu-end"
        aria-labelledby="navbarDropdownMenuLink"
      >
        <li>
          <a class="dropdown-item" href="#">Some news</a>
        </li>
        <li>
          <a class="dropdown-item" href="#">Another news</a>
        </li>
        <li>
          <a class="dropdown-item" href="#">Something else here</a>
        </li>
      </ul>

      <!-- Avatar -->
      welcome ||  &nbsp; {{user.first_name | capfirst }}  &nbsp; {{user.other_name | capfirst}} &nbsp; {{user.last_name}} <div class="ps-5"></div>
      <a
        class="dropdown-toggle d-flex align-items-center hidden-arrow"
        href="#"
        id="navbarDropdownMenuLink"
        role="button"
        data-mdb-toggle="dropdown"
        aria-expanded="false"
      >
        <img
          src="{{user.img.url}}"
          class="rounded-circle"
          height="40"
          width="38"
          alt=""
          loading="lazy"
        />
      </a>
      <ul
        class="dropdown-menu dropdown-menu-end"
        aria-labelledby="navbarDropdownMenuLink"
      >
        <li>
          <a class="dropdown-item" href="#">My profile</a>
        </li>
        <li>
          <a class="dropdown-item" href="#">Settings</a>
        </li>
        <li>
          <a class="dropdown-item" href="{% url 'logout' %}">Logout &nbsp; <i class="fas fa-sign-out-alt"></i></a>
        </li>
      </ul>
    </div>
     {%else%}
     <div>
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'register' %}">Register &nbsp; <i class="fas fa-user-plus"></i></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'login' %}">Login &nbsp; <i class="fa fa-sign-in" aria-hidden="true"></i></a>
        </li>
      </ul>
      
     </div>
     
    {%endif%}
    
    
    <!-- Right elements -->
  </div>
  <!-- Container wrapper -->
</nav>

<!-- Navbar -->

