{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load socialaccount %}

{% block content %}
<div style="width: 400px; margin: auto;">
    <p class="h3 text-muted text-center">Register</p>
    <form method="POST">
        {% csrf_token %}
        {{form | crispy }}
        <input type="submit" value="Register">
        <centre><a href="{% provider_login_url 'github' %}">Sign Up with GitHub</a></centre>
        <input type="hidden" name="next" value="{{ request.GET.next }}" />
    </form>
    
</div>
{% endblock content %}
